{{ define "Edit" }}
  {{ template "Header" }}
    {{ template "Menu" }} 
   <h2>Edit Employee ID: {{.ID}}</h2>  
    <form method="POST" action="update">
        <input type="hidden" name="uid" value="{{ .ID }}" />
        <label> Name </label><input type="text" name="name" value="{{ .Name }}"  /><br />
        <label> Email </label><input type="text" name="email" value="{{ .Email }}"  /><br />
        <label> Education </label><input type="text" name="education" value="{{ .Education }}"  /><br />
        <label> Experience </label><input type="text" name="experience" value="{{ .Experience }}"  /><br />
        <input type="submit" value="Save Employee" />
    </form><br />    
  {{ template "Footer" }}
{{ end }}