{{ define "Menu" }}
<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="/">HOME</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/new">NEW</a>
  </li>
</ul>
{{ end }}